{
  "development": {
    "username": "{{ CJB_DB_USER }}",
    "password": "{{ CJB_DB_PASSWORD }}",
    "database": "{{ CJB_DB_NAME_DEV }}",
    "host": "localhost",
    "dialect": "postgres"
  },
  "test": {
    "username": "{{ CJB_DB_USER }}",
    "password": "{{ CJB_DB_PASSWORD }}",
    "database": "{{ CJB_DB_NAME_TEST }}",
    "host": "localhost",
    "dialect": "postgres"
  },
  "production": {
    "username": "{{ CJB_DB_USER }}",
    "password": "{{ CJB_DB_PASSWORD }}",
    "database": "{{ CJB_DB_NAME }}",
    "host": "localhost",
    "dialect": "postgres",
    "logging": false
  }
}
